{% extends 'static.html' %} {% block title%} Events - Completed {% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Completed events</h3>

      </div>
      <div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-wrap">
            <thead>
              <tr>
                <th style="width: 20%;">Date</th>
                <th style="width: 20%;">Community Name</th>
                <th style="width: 40%;">Community Address</th>
                <th style="width: 20%;">Officer</th>
              </tr>
            </thead>
            <tbody>
              {% if events %}
              {% for e in events%}
              <tr>
                <td>{{e.date}} {{e.time}}</td>
                <td>{{e.community.name}}</td>
                <td>{{e.community.address}}</td>
                <td>{% if e.officers.all %}
                  {% for u in e.officers.all %}
                  {{u.first_name}} {{u.last_name}}
                  <br>
                  {% endfor %}
                  {% else %}
                  <p style="color: red;">Officer removed from system</p>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-6">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">Completed events</h3>
      </div>
      <div class="card-body">
        <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>

  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
  
  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
  $.getJSON('/charts/finishedEventsPerCommunity', function (jsonData) {
    var pieOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: jsonData,
      options: pieOptions
    })

  });

</script>
{% endblock%}