{% extends 'static.html' %} {% block title%} Officers {% endblock %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Events to schedule</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input autocomplete="off" type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>

        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-wrap">
            <thead>
              <tr>
                <th>Recommended Date</th>
                <th>Community Name</th>
                <th>Representative</th>
                <th>Schedule for</th>
              </tr>
            </thead>
            <tbody>
              {% if event %}
              {% for e in event%}
              <tr>
                <td>{{e.recommendedDate}}</td>
                <td>{{e.community.name}}</td>
                <td>{{e.community.representative.firstName}} {{e.community.representative.lastName}}</td>
                <td style="width: 500px;">
                  <form role="form" action="/events/schedule/{{e.id}}" method="POST">
                    <div class="form-group" style="margin-bottom:0;">
                      <div class="row">
                        <div class="col-6">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input autocomplete="off" type="datetime-local" name="communityStop" class="form-control" />
                            <!-- /.input group -->
                          </div>
                        </div>
                        <div class="col-5">
                          <select class="form-control" name="tableSearchSelect">
                            {% if officers %}
                            {% for o in officers %}
                            <option value={{o.id}}>{{o.user.first_name}} {{o.user.last_name}}</option>
                            {% endfor %}
                            {% endif %}
                          </select>
                        </div>
                        <div class="input-group-append col-1">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}