{% extends 'static.html' %} {% block title%}My Events - Completed {% endblock %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Completed events</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input autocomplete="off" type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-wrap">
            <thead>
              <tr>
                <th style="width: 20%;">Date</th>
                <th style="width: 20%;">Community Name</th>
                <th style="width: 40%;">Community Address</th>
                <th style="width: 20%;">Officer</th>
              </tr>
            </thead>
            <tbody>
              {% if events %}
              {% for e in events%}
              <tr>
                <td>{{e.date}} {{e.time}}</td>
                <td>{{e.community.name}}</td>
                <td>{{e.community.address}}</td>
                <td>{% if e.officers.all %}
                  {% for u in e.officers.all %}
                  {{u.first_name}} {{u.last_name}}
                  <br>
                  {% endfor %}
                  {% else %}
                      <p style="color: red;">Officer removed from system</p>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}