{% extends 'static.html' %} {% block title%} My Events {% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">My Events</h3>

      </div>
      <div>

        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-wrap">
            <thead>
              <tr>
                <th>Date and Time</th>
                <th>Community Name</th>
                <th>Community Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% if events %}
              {% for e in events%}
              <tr>
                <td>{{e.date}} {{e.time}}
                </td>
                <td>{{e.community.name}}</td>
                <td>{{e.community.address}}</td>
                <td>
                  <a href="/myevents/complete/{{e.id}}">
                    <div  class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Mark as completed">
                      <button class="btn btn-default" style="pointer-events: none;" type="button">
                        <i class="fas fa-check"></i>
                      </button>
                      </div>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}