{% extends 'static.html' %} {% block title%} Events - Scheduled {% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Scheduled events</h3>

      </div>
      <div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-wrap">
            <thead>
              <tr>
                <th style="width: 20%;">Date</th>
                <th style="width: 15%;">Community Name</th>
                <th style="width: 40%;">Community Address</th>
                <th style="width: 25%;">Officer</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% if events %}
              {% for e in events%}
              <tr>
                <td>{{e.date}} {{e.time}}</td>
                <td>{{e.community.name}}</td>
                <td>{{e.community.address}}</td>
                <td>{% if e.officers.all %}
                  {% for u in e.officers.all %}
                  {{u.first_name}} {{u.last_name}}
                  <br>
                  {% endfor %}
                  {% endif %}
                </td>
                <td>
                  <a href="/events/reschedule/{{e.id}}">
                    <div class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Reschedule Event">
                      <button class="btn btn-default" style="pointer-events: none;" type="button">
                        <i class="fas fa-edit"></i> </button>
                    </div>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}