<div>
  {% if permissions.isOfficerManager %}
  <li class="nav-item">
    <a href="/officers/" id="officersSelection" class="nav-link">
      <i class="fas fa-user-friends"></i>
      <p>Officers</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isDepartmentManager %}
  <li class="nav-item">
    <a href="/departments/" id="departmentsSelection" class="nav-link">
      <i class="fas fa-building"></i>
      <p>Departments</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isCommunityManager %}
  <li class="nav-item">
    <a href="/communities/" id="communitiesSelection" class="nav-link">
      <i class="nav-icon fas fa-handshake"></i>
      <p>Communities</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isEventManager %}
  <li id="events" class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-calendar"></i>
      <p>
        Events
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul style="margin-left:30px;" class="nav nav-treeview">
      <li class="nav-item">
        <a href="/events/" id="scheduleEventSelection" class="nav-link">
          <i class="fas fa-calendar-plus"></i>
          <p>Schedule event</p>
        </a>
      </li>
    </ul>
    <ul style="margin-left:30px;" class="nav nav-treeview">
      <li class="nav-item">
        <a href="/events/scheduled/" id="scheduledEventsSelection" class="nav-link">
          <i class="fas fa-calendar-day"></i>
          <p>Sheduled events</p>
        </a>
      </li>
    </ul>
    <ul style="margin-left:30px;" class="nav nav-treeview">
      <li class="nav-item">
        <a href="/events/completed/" id="completedEventsSelection" class="nav-link">
          <i class="far fa-calendar-check"></i>
          <p>Completed events</p>
        </a>
      </li>
    </ul>
  </li>
  {% endif %}
  <li id="myevents" class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-calendar"></i>
      <p>
        My Events
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul style="margin-left:30px;" class="nav nav-treeview">
      <li class="nav-item">
        <a href="/myevents/" id="myEventsSelection" class="nav-link">
          <i class="fas fa-calendar-alt"></i>
          <p>Events to do</p>
        </a>
      </li>
    </ul>
    <ul style="margin-left:30px;" class="nav nav-treeview">
      <li class="nav-item">
        <a href="/myevents/completed/" id="myCompletedEventsSelection" class="nav-link">
          <i class="fas fa-calendar-check"></i>
          <p>Completed events</p>
        </a>
      </li>
    </ul>
  </li>
  <!--
  <li class="nav-item">
    <a href="/myfeedback/" id="myFeedbackSelection" class="nav-link">
      <i class="fas fa-pencil-alt"></i>
      <p>My feedback</p>
    </a>
  </li>
  -->
  <li class="nav-item">
    <a href="/logout/" class="nav-link">
      <i class="fas fa-sign-out-alt"></i>
      <p>Log out</p>
    </a>
  </li>
</div>

<script type="text/javascript">

  function getCurrentMenuName() {
    var url = window.location.href;
    url = url.split("/")[3];
    return (url);
  }

  function getCurrentSelectionName() {
    var url = window.location.pathname;
    return url;
  }

  function setMenuActive(elementId) {
    var v = document.getElementById(elementId);
    v.className += " menu-open";
  }

  function setSelectionActive(elementId) {
    var v = document.getElementById(elementId);
    v.className += " active";
  }

  if (getCurrentMenuName() === "events")
    setMenuActive("events");

  if (getCurrentMenuName() === "myevents")
    setMenuActive("myevents");

  var selection = getCurrentSelectionName();
  if (selection === ("/officers/"))
    setSelectionActive("officersSelection");
  else if (selection === ("/departments/"))
    setSelectionActive("departmentsSelection");
  else if (selection === ("/communities/"))
    setSelectionActive("communitiesSelection");
  else if (selection === "/events/")
    setSelectionActive("scheduleEventSelection");
  else if (selection === "/events/scheduled/")
    setSelectionActive("scheduledEventsSelection");
  else if (selection === "/events/completed/")
    setSelectionActive("completedEventsSelection");
  else if (selection === ("/myevents/"))
    setSelectionActive("myEventsSelection");
  else if (selection === "/myevents/completed/")
    setSelectionActive("myCompletedEventsSelection");
  else if (section === ("/myfeedback/"))
    setSelectionActive("myFeedbackSelection");



</script>