<div>
  {% if permissions.isOfficerManager %}
  <li class="nav-item">
    <a href="/officers" class="nav-link">
      <i class="fas fa-user-friends"></i>
      <p>Officers</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isDepartmentManager %}
  <li class="nav-item">
    <a href="/departments" class="nav-link">
      <i class="fas fa-building"></i>
      <p>Departments</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isCommunityManager %}
  <li class="nav-item">
    <a href="/communities" class="nav-link">
      <i class="nav-icon fas fa-handshake"></i>
      <p>Communities</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isEventManager %}
  <li id="sidebar-events" class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-calendar"></i>
      <p>
        Events
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="/events" class="nav-link">
          <i class="fas fa-calendar-plus"></i>
          <p>Schedule event</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/events/scheduled" class="nav-link">
          <i class="fas fa-calendar-day"></i>
          <p>Sheduled events</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/events/completed" class="nav-link">
          <i class="far fa-calendar-check"></i>
          <p>Completed events</p>
        </a>
      </li>
    </ul>
  </li>
  {% endif %}
  <li class="nav-item">
    <a href="/myevents" class="nav-link">
      <i class="fas fa-calendar-alt"></i>
      <p>My events</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/myfeedback" class="nav-link">
      <i class="fas fa-pencil-alt"></i>
            <p>My feedback</p>
    </a>
  </li>

  <li class="nav-item">
    <a href="/logout" class="nav-link">
      <i class="fas fa-sign-out-alt"></i>
      <p>Log out</p>
    </a>
  </li>

</div>

<script>
  var url = window.location.href;
  var isEventPage = url.includes("events");
  if (isEventPage) {
    var v = document.getElementById("sidebar-events");
    v.className += " menu-open";
  }
</script>