{% extends 'static.html' %}
{% block title%} Communities {% endblock %}
{% block sidebar %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <!-- Add icons to the links using the .nav-icon class
      with font-awesome or any other icon font library -->
  {% if permissions.isOfficerManager %}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-table"></i>
      <p>
        Officers
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="/officers" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>All officers</p>
        </a>
      </li>
    </ul>
  </li>
  {% endif %}
  {% if permissions.isDepartmentManager %}
  <li class="nav-item">
    <a href="/departments" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>Departments</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isCommunityManager %}
  <li class="nav-item">
    <a href="/communities" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>Communities</p>
    </a>
  </li>
  {% endif %}
  {% if permissions.isEventManager %}
  <li class="nav-item">
    <a href="/events" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>Events</p>
    </a>
  </li>
  {% endif %}
</ul>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Add community</h3>
      </div>
      <div class="card-body">
        <form role="form">
          <div class="row">
            <div class="col-12">

              <div class="form-group">
                <label>Community name</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12">

              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
              </div>
            </div>
            <div class="col-12">

              <div class="form-group">
                <label>Community address</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label>Select</label>
                <select class="form-control">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Select Disabled</label>
                <select class="form-control" disabled>
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label>Select Multiple</label>
                <select multiple class="form-control">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Select Multiple Disabled</label>
                <select multiple class="form-control" disabled>
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}