{% extends 'static.html' %}
{% block title%} Communities {% endblock %}
{% block sidebar %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <!-- Add icons to the links using the .nav-icon class
      with font-awesome or any other icon font library -->
  {% if permissions.isOfficerManager %}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-table"></i>
      <p>
        Officers
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="/officers" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>All officers</p>
        </a>
      </li>
    </ul>
  </li>
  {% endif %} {% if permissions.isDepartmentManager %}
  <li class="nav-item">
    <a href="/departments" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>Departments</p>
    </a>
  </li>
  {% endif %} {% if permissions.isCommunityManager %}
  <li class="nav-item">
    <a href="/communities" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>Communities</p>
    </a>
  </li>
  {% endif %} {% if permissions.isEventManager %}
  <li class="nav-item">
    <a href="/events" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>Events</p>
    </a>
  </li>
  {% endif %}
</ul>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-4">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Add community</h3>
      </div>
      <div class="card-body">
        <div role="form">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Community name</label>
                <input name="communityName" type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Description</label>
                <textarea name="commnityDescription" class="form-control" rows="3" placeholder="Enter ..."></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Community address</label>
                <textarea name="communityAddress" class="form-control" rows="3" placeholder="Enter ..."></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Event frequency</label>
                <select name="communityFrequency" class="form-control">
                  <option>Monthly</option>
                  <option>Quarterly</option>
                  <option>Semiannually</option>
                  <option>Annually</option>
                  <option>On request</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="col-12">
                <div class="form-group">
                  <label>Community representative details</label><br>
                  <label>First name</label>
                  <input name="communityRepresentativeFirstName" type="text" class="form-control"
                    placeholder="Enter ...">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Last name</label>
                  <input name="communityRepresentativeLastName" type="text" class="form-control"
                    placeholder="Enter ...">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Address</label>
                  <textarea name="communityRepresentativeAddress" class="form-control" rows="3"
                    placeholder="Enter ..."></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-info">Add officer</button>
       </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Departments</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Community Name</th>
                <th>Community address</th>
                <th>Number of events</th>
                <th>Event frequency</th>
                <th>Representative details</th>

              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}