{% extends 'static.html' %} {% block title%} Officers {% endblock %} {% block content %}
<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Add officer</h3>
      </div>
      <div class="card-body">
        <form role="form" action="/officers/add" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Officer name</label>
                <input autocomplete="off" type="text" id="officerName" name="officerName" class="form-control"
                  placeholder="Enter ..." required>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Officer surname</label>
                <input autocomplete="off" type="text" id="officerSurname" name="officerSurname" class="form-control"
                  placeholder="Enter ..." required>
              </div>
            </div>
            <div class="col-12 col-md-6a">
              <div class="form-group">
                <label>Work eMail</label>
                <input autocomplete="off" type="eMail" id="officereMail" name="officereMail" class="form-control"
                  placeholder="Enter ..." required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Badge number</label>
                <input autocomplete="off" type="text" id="officerBadgeNumber" name="officerBadgeNumber"
                  class="form-control" placeholder="Enter ..." required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Department</label>
                <select class="form-control" name="department">
                  <option value="NoDep">None</option>
                  {% if departments %} {% for dep in departments %}
                  <option value="{{dep.id}}">{{dep.departmentName}}</option>
                  {% endfor %} {% endif %}
                </select>
              </div>
            </div>
          </div>
          <!--
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>In charge of</label>
                  <select multiple class="form-control" name="communities">
                    {% if communities %}
                    {% for com in communities %}
                    <option>{{com.communityName}}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            -->
          {% if addOfficerError %}
          <div class="row">
            <div class="col-12">
              <p style="color: red;">Error adding officer,please check details</p>
            </div>
          </div>
          {% endif %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-info">Add officer</button>
      </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card card-danger" style="height: 310.5px;">
      <div class="card-header">
        <h3 class="card-title">Officers per department</h3>
        <div class="card-tools">
        </div>
      </div>
      <div class="card-body">
        <canvas id="donutChart" style="max-width: 100%;"></canvas>
      </div>
    </div>
  </div>
  <div class="d-md-none col-12">
    <div class="card">
      <form role="form" action="/officers" method="GET">
        <div class="card-header">
          <div class="card-tools">
            <div class="input-group">
              <div class="row form-group" style="margin-bottom:0;">
                <div class="col-3">
                  <select class="form-control" name="tableSearchSelect">
                    <option>eMail</option>
                    <option>Badge Number</option>
                    <option>First Name</option>
                    <option>Last Name</option>
                  </select>
                </div>
                <div class="col-7">
                  <input autocomplete="off" type="text" name="tableSearch" class="form-control float-right"
                    placeholder="Search">
                </div>
                <div class="input-group-append col-2">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-wrap">
          <tbody>
            {% if officers %} {% for officer in officers%}
            <tr>
              <td>
                <div class="row">
                  <div class="col-10 ml-2">
                    <div class="row">
                      <div class="col-1 text-center">
                        <i class="fas fa-signature"></i>
                      </div>
                      <div class="col-10 ml-2">
                        {{officer.user.first_name}} {{officer.user.last_name}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-1 text-center">
                        <i class="fas fa-user-tag"></i>
                      </div>
                      <div class="col-10 ml-2">
                        {{officer.user.username}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-1 text-center">
                        <i class="fas fa-at"></i>
                      </div>
                      <div class="col-10 ml-2">
                        {{officer.user.email}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-1 text-center">
                        <i class="far fa-id-badge"></i>
                      </div>
                      <div class="col-10 ml-2">
                        {{officer.badgeNumber}}
                      </div>
                    </div>
                    {% if officer.department %}
                    <div class="row">
                      <div class="col-1 text-center">
                        <i class="far fa-id-badge"></i>
                      </div>
                      <div class="col-10 ml-2">
                        {{officer.department.departmentName}}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-1">
                    <a href="/officers/remove/{{officer.user.id}}" style="margin-top: 20px;">
                      <div class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Delete officer">
                        <button class="btn btn-default" style="pointer-events: none;" type="button"><i
                            class="fas fa-trash-alt"></i></button>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block col-md-6 col-lg-6">
    <div class="card">
      <form role="form" action="/officers" method="GET">
        <div class="card-header">
          <div class="card-tools">
            <div class="input-group">
              <div class="row form-group" style="margin-bottom:0;">
                <div class="col-3">
                  <select class="form-control" name="tableSearchSelect">
                    <option>eMail</option>
                    <option>Badge Number</option>
                    <option>First Name</option>
                    <option>Last Name</option>
                  </select>
                </div>
                <div class="col-7">
                  <input autocomplete="off" type="text" name="tableSearch" class="form-control float-right"
                    placeholder="Search">
                </div>
                <div class="input-group-append col-2">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-wrap">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>eMail</th>
              <th>Badge Number</th>
              <th>Department</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if officers %} {% for officer in officers%}
            <tr>
              <td>{{officer.user.first_name}} {{officer.user.last_name}}</td>
              <td>{{officer.user.username}}</td>
              <td>{{officer.user.email}}</td>
              <td>{{officer.badgeNumber}}</td>
              <td>{{officer.department.departmentName}}</td>
              <td>
                <a href="/officers/remove/{{officer.user.id}}">
                  <div class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Delete officer">
                    <button class="btn btn-default" style="pointer-events: none;" type="button"><i
                        class="fas fa-trash-alt"></i></button>
                  </div>
                </a>
              </td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
  const eMailSection = document.getElementById('officereMail')
  eMailSection.addEventListener('keyup', function (event) {
    var text = document.getElementById('officereMail').value;
    if (text.includes("@") === false) {
      document.getElementById('officerUsername').value = text;
    } else {
      document.getElementById('officerUsername').value = text.split('@')[0];
    }
  });
  $(function () {
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    $.getJSON('/charts/officersPerDepartment', function (jsonData) {
      var donutOptions = {
        maintainAspectRatio: false,
        responsive: true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var donutChart = new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: jsonData,
        options: donutOptions
      })
    });
  });
</script>
{% endblock %}