{% extends 'static.html' %} {% block title%} Officers {% endblock %}
{% block sidebar %}
{% if permissions.isOfficerManager %}
<div>
  <li class="nav-item">
    <a href="/officers" class="nav-link">
      <i class="fas fa-user-friends"></i>
      <p>Officers</p>
    </a>
  </li>
  {% endif %} {% if permissions.isDepartmentManager %}
  <li class="nav-item">
    <a href="/departments" class="nav-link">
      <i class="fas fa-building"></i>
      <p>Departments</p>
    </a>
  </li>
  {% endif %} {% if permissions.isCommunityManager %}
  <li class="nav-item">
    <a href="/communities" class="nav-link">
      <i class="nav-icon fas fa-handshake"></i>
      <p>Communities</p>
    </a>
  </li>
  {% endif %} {% if permissions.isEventManager %}
  <li class="nav-item">
    <a href="/events" class="nav-link">
      <i class="fas fa-calendar-plus"></i>
      <p>Events</p>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a href="/myevents" class="nav-link">
      <i class="fas fa-calendar-alt"></i>
      <p>My events</p>
    </a>
  </li>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-3">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Add officer</h3>
      </div>
      <div class="card-body">
        <form role="form" action="/officers/add" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Officer name</label>
                <input type="text" id="officerName" name="officerName" class="form-control" placeholder="Enter ..."
                  required>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Officer surname</label>
                <input type="text" id="officerSurname" name="officerSurname" class="form-control"
                  placeholder="Enter ..." required>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="form-grou\sp">
                <label>Work eMail</label>
                <input type="eMail" id="officereMail" name="officereMail" class="form-control" placeholder="Enter ..."
                  required>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label>Username</label>
                <input id="officerUsername" name="officerUsername" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Badge number</label>
                <input type="text" id="officerBadgeNumber" name="officerBadgeNumber" class="form-control"
                  placeholder="Enter ..." required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Department</label>
                <select class="form-control" name="department">
                  <option>None</option>
                  {% if departments %}
                  {% for dep in departments %}
                  <option value="{{dep.id}}">{{dep.departmentName}}</option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>In charge of</label>
                <select multiple class="form-control" name="communities">
                  {% if communities %}
                  {% for com in communities %}
                  <option>{{com.communityName}}</option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          {% if addOfficerError %}
          <div class="row">
            <div class="col-12">
              <p style="color: red;">Error adding officer,please check details</p>
            </div>
          </div>
          {% endif %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-info">Add officer</button>
      </div>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Officers</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Name</th>
              <th>eMail</th>
              <th>Badge Number</th>
              <th>Department</th>
            </tr>
          </thead>
          <tbody>
            {% if officers %} {% for officer in officers%}
            <tr>
              <td>{{officer.user.first_name}} {{officer.user.last_name}}</td>
              <td>{{officer.user.email}}</td>
              <td>{{officer.badgeNumber}}</td>
              <td>{{officer.department.departmentName}}</td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-3 ">
    <div class="card card-danger" style="height: 310.5px;">
      <div class="card-header">
        <h3 class="card-title">Officers per department</h3>
        <div class="card-tools">
        </div>
      </div>
      <div class="card-body">
        <canvas id="donutChart" style="max-width: 100%;"></canvas>
      </div>
    </div>
    <div class="card card-danger" style="height: 310.5px">
      <div class="card-header">
        <h3 class="card-title">Officers per community</h3>
        <div class="card-tools">
        </div>
      </div>
      <div class="card-body">
        <canvas id="donutChart2" style=" height: 200px; max-width: 100%;"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
  const eMailSection = document.getElementById('officereMail')
  eMailSection.addEventListener('keyup', function (event) {
    var text = document.getElementById('officereMail').value;
    if (text.includes("@") === false) {
      document.getElementById('officerUsername').value = text;
    }
    else {
      document.getElementById('officerUsername').value = text.split('@')[0];

    }
  });
  $(function () {
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutChartCanvas2 = $('#donutChart2').get(0).getContext('2d')

    var donutData = {
      labels: [
        '',
        '',
        '',

      ],
      datasets: [
        {
          data: [100, 500, 400],
          backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
        }
      ]
    }
    var donutOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var donutChart = new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })

    var donutChart = new Chart(donutChartCanvas2, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })
  });
</script>
{% endblock %}