{% extends 'static.html' %}
{% block title%} Officers {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-4">
    
    <div class="card">
      <div class="card-body box-profile">
        <div class="text-center">
        </div>
        <h3 class="profile-username text-center">{{request.user.first_name}} {{request.user.last_name}}</h3>
        <p class="text-muted text-center">{{request.user.username}}</p>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Events to do</b> <a class="float-right">{{eventstodo}}</a>
          </li>
          <li class="list-group-item">
            <b>Events done</b> <a class="float-right">{{eventsdone}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Details</h3>
      </div>
      <div class="card-body">
        {% if dep %}
        <strong><i class="fas fa-book mr-1"></i>Department</strong>
        <p class="text-muted">
          {{dep.departmentName}}
        </p>
        <hr>
        {% else %}
        <p class="text-muted">
          Officer
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8" style="margin: 0; padding: 0;">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">My Events</h3>

        </div>
        <div>

          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th>Date and Time</th>
                  <th>Community Name</th>
                  <th>Community Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% if scheduledEvents %}
                {% for e in scheduledEvents%}
                <tr>
                  <td>{{e.date}} {{e.time}}
                  </td>
                  <td>{{e.community.name}}</td>
                  <td>{{e.community.address}}</td>
                  <td>
                    <a href="/myevents/complete/{{e.id}}">
                      <div class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Mark as completed">
                        <button class="btn btn-default" style="pointer-events: none;" type="button">
                          <i class="fas fa-check"></i>
                        </button>
                      </div>
                    </a>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Completed events</h3>
        </div>
        <div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width: 20%;">Date</th>
                  <th style="width: 20%;">Community Name</th>
                  <th style="width: 40%;">Community Address</th>
                  <th style="width: 20%;">Officer</th>
                </tr>
              </thead>
              <tbody>
                {% if completedEvents %}
                {% for e in completedEvents%}
                <tr>
                  <td>{{e.date}} {{e.time}}</td>
                  <td>{{e.community.name}}</td>
                  <td>{{e.community.address}}</td>
                  <td>{% if e.officers.all %}
                    {% for u in e.officers.all %}
                    {{u.first_name}} {{u.last_name}}
                    <br>
                    {% endfor %}
                    {% else %}
                    <p style="color: red;">Officer/s removed from system</p>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}